<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DlcvDemo2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
  </System.Windows.Forms.ApplicationConfigurationSection>
  <userSettings>
    <DlcvDemo2.Properties.Settings>
      <setting name="LastModel1Path" serializeAs="String">
        <value />
      </setting>
      <setting name="LastModel2Path" serializeAs="String">
        <value />
      </setting>
      <setting name="LastImagePath" serializeAs="String">
        <value />
      </setting>
      <setting name="SlidingWindowWidth" serializeAs="String">
        <value>2560</value>
      </setting>
      <setting name="SlidingWindowHeight" serializeAs="String">
        <value>2560</value>
      </setting>
      <setting name="SlidingOverlapX" serializeAs="String">
        <value>1024</value>
      </setting>
      <setting name="SlidingOverlapY" serializeAs="String">
        <value>1024</value>
      </setting>
    </DlcvDemo2.Properties.Settings>
  </userSettings>
</configuration>
